html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    
}


a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body {
    
    margin: 0;
   
    color: #000000;
    font-family: DM Sans;
    font-style: Medium;
    letter-spacing: 0.03em;
    font-size: 12px;
    letter-spacing: 0.03em;
   
   
}

h1 {
      text-transform: uppercase;
  }
  h1, h2, h3 {
      margin: 0 ;
  }
  p {
      margin: 0;
  }
  img {
    display: block;
}
.conteiner {
 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px;

    @media screen and (min-width: 480px) {
      max-width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

.contact__none {
    display: none;
    
}

  .contact {
display: block;
background-color:  #FFF5F6;
justify-content: space-between;
  }
 .contact__link {
     width: 220px;
     height: 427px;
box-shadow: 0px 8px 8px 8px
rgba(212, 20, 67, 0.1);
background-color:  #FFFFFF;
border-radius: 24px;

 }
 .contact__link:not(:last-child) {
     margin-bottom: 20px;
 }
 .contact__text {

font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #907E82;
margin-top: 10px;
 }
 .contact__team {
     color: #000000;
    
     font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
text-align: left;

 }
 .contact__item {
     color: #FFA5BA;
     
     font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

 }
 .contact__list {
     width: 80px;
     height: 16px;
     background-color: #F0D1A5;
     color: #FFFFFF;
     text-align: center;
     
     border-radius: 4px;
     font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
margin-bottom: 25px;


 }
 .contact__listy {
    width: 80px;
    height: 16px;
    background-color: #C2E297;
    color: #FFFFFF;
    text-align: center;
    
    border-radius: 4px;
    font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
margin-bottom: 25px;
 }
 .contact__title {
     padding-top: 43px;
     padding-bottom: 43px;
     padding-left: 20px;
     padding-right: 20px;
 }
 
 .week__team {
    color: #000000;
    
    font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.04em;
text-align: left;
 }
 .week__item {
    color: #FFA5BA;
     
     font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left; 
 }
 .week {
     border-top: 1px solid #E1E1E1;
     border-bottom:  1px solid #E1E1E1;
     width: 179px;
     padding-top: 25px;
     padding-bottom: 25px;
     margin-top: 25px;
     margin-bottom: 25px;
 }
 .week__item:not(:last-child) {
     margin-bottom: 10px;
 }

 